body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}